/* General cascating style */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

:root {
  --pri-clr: #fdf2e9;
  --nur-clr: #fae5d3;
  --sec-clr: #e67e22;
  --ter-clr: #cf711f;
  --drk-choa-clr: #333;
  --white-clr: #fff;
  --stc-header-bx-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  --nav-rgba-clr: rgba(255, 255, 255, 0.9);
  --dem-gray: #ddd;
}

h1,
h2 {
  margin-top: 1em;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-family: "Rubik", sans-serif;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

/* HEADER STYLING */
.logo {
  height: 2.1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pri-clr);

  /* Because we want header to be sticky later */
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;
}

/**************************/
/* NAVIGATION */
/**************************/
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.nav-link:visited,
.nav-link:link {
  display: inline-block;
  color: var(--drk-choa-clr);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active {
  color: var(--ter-clr);
}
.nav-link.nav-link__cta {
  background: var(--sec-clr);
  padding: 1.2rem 2.4rem;
  color: var(--white-clr);
  border-radius: 5px;
}
.nav-link.nav-link__cta:hover {
  background: var(--ter-clr);
}

/* MOBILE */
.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  outline: 0;
  cursor: pointer;
}
.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--drk-choa-clr);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  bottom: 0;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--nav-rgba-clr);
  box-shadow: var(--stc-header-bx-shadow);
  z-index: 999;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/**************************/
/* SECTION HERO */
/**************************/

.section-hero {
  background: var(--pri-clr);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  /* padding: 0 3.2rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero-img {
  width: 100%;
}
.hero-box__title {
  font-size: 4.6rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.hero-box__subtitle {
  font-size: 2.1rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 5px solid var(--pri-clr);
  margin-right: -1.6rem;
}
.delivered-text {
  font-weight: 700;
  font-size: 1.8rem;
}
.delivered-text span {
  color: var(--ter-clr);
}
.delivered-meals img:last-child {
  margin: 0;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 7px;
  font-size: 2rem;
  font-weight: 600;
  outline: none;
  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}
.btn__full:link,
.btn__full:visited {
  background: var(--sec-clr);
  color: var(--white-clr);
}
.btn__full:hover,
.btn__full:active {
  background: var(--ter-clr);
}
.btn__outline:link,
.btn__outline:visited {
  background: var(--white-clr);
  color: #555;
}
.btn__outline:hover,
.btn__outline:active {
  background: var(--pri-clr);
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}
/**************************/
/* SECTION FEATURED */
/**************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.featured-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75;
  color: #888;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}
.featured-logos {
  display: flex;
  justify-content: space-around;
}
.featured-logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}
/**************************/
/* HOW IT WORKS SECTION */
/**************************/
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--dem-gray);
  margin-bottom: 1.2rem;
}
.step-subtitle {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  background-color: var(--pri-clr);
  z-index: -2;
  padding-bottom: 60%;
}
.step-img-box::after {
  width: 45%;
  background-color: var(--nur-clr);
  padding-bottom: 45%;
  z-index: -1;
}
.step-img {
  width: 35%;
}

/*********************/
/* Using Grid General */
/*********************/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--center-v {
  align-items: center;
}
.how-title {
  font-size: 1.6rem;
  color: var(--ter-clr);
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-transform: uppercase;
}
.how-subtitle,
.step-title {
  letter-spacing: -0.5px;
  font-weight: 700;
}
.how-subtitle {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.step-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 544px) {
  /* .delivered-imgs img{
    width: 4.2rem;
    height: 4.2rem;

  } */
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .delivered-text {
    font-size: 1.4rem;
    text-align: center;
    width: 47%;
  }
  .featured-logos img {
    height: 1.2rem;
  }

  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(2.4rem);
  }
  /* .hero-box__img{
    width: 80%;
  } */
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 944px) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .nav {
    background: var(--nav-rgba-clr);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }
  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-link:active,
  .nav-link:visited {
    font-size: 3rem;
  }
  /******Navbar toggling *******/
  .nav-open .nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-box,
  .hero-box__img {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .featured-logos img {
    height: 2.2rem;
  }
}

/**************************/
/* DESKTOP */
/**************************/

@media (min-width: 1000px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
  .hero-box__title {
    font-size: 4.8rem;
  }
}
